services:
  postgres:
    image: postgres:18.1-trixie
    container_name: local-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
